/* Styles pour les éléments de ville */
#from-city, #to-city {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styles pour la liste des trajets */
  #train-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #train-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #train-list li:last-child {
    border-bottom: none;
  }
  
  /* Styles pour les éléments de trajet */
  .train-name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .train-duration {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
  }
  
  .train-price {
    font-size: 14px;
    font-weight: bold;
    color: #337ab7;
  }